build
lib
src/ids
src/imas_versions.c
matlab/IDS_list.m
tests/*.o
tests/*.mod
tests/run_perf_f90
tests/imas_mex_c_workflow_tests
tests/IDS_test_f90.f90
tests/IDS_list.f90
tests/IDS_list.h
*~
/html/
/latex/
CMakeUserPresets.json
test-install
.vscode/
*.err
*.out
/graphify-out
/.idea
